.button {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 10px 28px;
  border-radius: 6px;

  border: 0;
  background: var(--clr-surface);
  color: var(--clr-text);

  box-shadow: var(--shadow);
  cursor: pointer;

  font: inherit;
  font-size: 14px;
  font-weight: 600;
}

.icon {
  font-size: 16px;
  line-height: 1;
}
