.select {
  width: 100%;
  max-width: 220px;
  padding: 14px 16px;

  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);

  background: var(--clr-surface);
  color: var(--clr-text);

  font-size: 14px;
  cursor: pointer;
  outline: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:focus {
  border-color: rgba(0, 0, 0, 0.2);
}

.select option:disabled {
  color: var(--clr-input);
}

[data-theme='dark'] .select {
  border-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 900px) {
  .select {
    max-width: 100%;
  }
}
