.wrapper {
  position: relative;
  width: 100%;
  max-width: 380px;
}

.input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: var(--clr-surface);
  color: var(--clr-text);
  outline: none;
  font-size: 14px;
}

.input::placeholder {
  color: var(--clr-input);
}

.input:focus {
  border-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .wrapper {
    max-width: 100%;
  }
}
